SIGNED IN AS
Beverly
ACCOUNT
Back to Slack
Home
Account & profile
Configure apps
Analytics
Customize
About this workspace
OTHER
Tour
Download apps
Brand guidelines
Help
API
Pricing
Contact
Policies
Our blog
Sign out
Made with  by Slack

MenuAlbanyCanCode
Plans
Workspaces
Help
Launch Slack
Launch
Greg Westover
style.css  
247b CSS snippet created on August 2, 2019. This file is private.

ACTIONS
#board {
  background-color: tan;
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
}
​
.row {
  display: flex;
  flex: 1;
}
​
.space {
  flex: 1;
}
​
.red {
  background-color: red;
}
​
.black {
  background-color: black;
}
​
