#board {
    background-color: green;
    width: 90vw;
    height: 90vw;
    
  }

  .row {
    height: calc(100% / 8);
  }


  .space {
    width: calc(100% / 8);
    height: calc(100% / 8);
  }


  .red {
    background-color: red;
    
  }


  .black {
    background-color: black;
  }

