:placeholder-shown#board {
    background-color: green;
    width: 800px;
    height: 800px;
  }

  .row {
    height: 100px;
  }


  .space {
    width: 12.5%;
    height: 12.5%;
  }


  .red {
    background-color: red;
    
  }


  .black {
    background-color: black;
  }

